appdirs==1.4.4
applicationinsights==0.11.7
appnope==0.1.0
backcall==0.1.0
backports.csv==1.0.6
Click==7.0
configobj==5.0.6
decorator==4.3.0
distlib==0.3.1
enum34==1.1.6
filelock==3.0.12
flake8==3.8.4
future==0.16.0
humanize==0.5.1
importlib-metadata==2.0.0
invoke==1.4.1
ipdb==0.11
ipython==7.0.1
ipython-genutils==0.2.0
jedi==0.13.1
mccabe==0.6.1
packaging==20.4
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
pkgconfig==1.5.1
prompt-toolkit==2.0.6
psutil==5.7.3
ptyprocess==0.6.0
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.2.0
pyparsing==2.4.7
simplegeneric==0.8.1
six==1.11.0
sqlparse==0.2.4
terminaltables==3.1.0
traitlets==4.3.2
virtualenv==20.1.0
virtualfish==2.5.0
wcwidth==0.1.7
zipp==3.4.0
